.menu{
	display: grid;
	grid-template-columns: 33% 33% 33%;
	background-color: #B7474CFF;
	height: 50px;
}
foot{
	display: grid;
	grid-template-columns: 100%; /*Редактировать значения*/
	height: 150px;
	background-color: #743D3FFF;
}
ul.menu > li{
	font-size: 	200%;
	padding-left: 70px;
	padding-right: 70px;
	list-style-type: none;
	text-align: center;
}
a{
	text-decoration: none;
	color: black;
}
th, td{
	border: 1px solid black;
	font-size: 130%;
}
table{
	padding-left: 100px;
}
body{
	background-color: #C0909664;
}
div > table{
	display: inline-block;
}
.nameCompany{
	display: grid;
	grid-template-columns: 100%;
	background-color: #B7474CFF;
	font-size: 210%;	
	font-family: Marker Felt, fantasy;
	padding-left: 100px ;
}
.newText{
	font-size: 130%;
	padding-left: 40px;
}
*{
	padding: 0;
	margin: 0;
}
Big{
	display: grid;
	grid-template-columns: 100%;
	background-color: #AD3646FF;
	height: 40px;
}
.bigText{
	text-align: center;
	font-size: 150%;
}
p{
	padding-left: 30px;
	padding-right: 30px;
}